/*----html, body, container-----*/

.html, .body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    padding: 0;
    margin-top: 30px;
    min-height:100%;
    position:relative;
}

/*-----navbar-----*/

.fa.fa-bars{
   position: relative;        
   color: white; 
   font-size: 1.5em;
   margin-right: 20px;
}

.navbar-brand{
    font-size: 1.5em;
}

/*-----homepage-----*/

.display-3{
    text-align: center;
    color: white;
    margin-top: 10%;
}

.jumbotron{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 0px;
    background-image: url(http://www.allmacwallpaper.com/get/iMac-21-inch-wallpapers/San-francisco-bay-1920x1080/3025-9.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

.jumbotron h1{
    color: white;
    font-family: "Open Sans", bold, sans-serif;
    font-weight: 600;
}

