.nav.navbar-nav{
    float: right;
    margin-right: 10px;
}

.navbar-brand{
    font-size: 1.5em;
}

.fa.fa-bars{
   position: relative;        
   color: white; 
   font-size: 1.5em;
}

.text-vertical-center {
    display: table-cell;
    float: center;
    vertical-align: middle;
    padding-top: 50%;
    margin-left: auto;
    margin-right: auto;
}


body{
background-image: url(http://www.allmacwallpaper.com/get/iMac-21-inch-wallpapers/San-francisco-bay-1920x1080/3025-9.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}