.nav.navbar-nav{
    float: right;
}

.navbar-brand{
    font-size: 2em;
}

.fa.fa-bars{
   color: white; 
   font-size: 2em;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
