extends layout

block content
    .container-margin
      .row
        .col-lg-12
          h1.page-header
            | About Us
          p
            | CitizensOrg creates an online meeting place where individuals can create actions to facilitate political organization. As a group of concerned citizens, we recognize the need for individuals to have a central place where they can find information that helps them stay informed and politically active.With focus on building a movement to take back Congress from Republicans in 2018, CitizensOrg will maintain pressure on the current administration until it’s time to vote!
      .row
        .col-lg-12
          h2.page-header Our Team
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/denise.jpg', alt='')
        .col-lg-3.col-sm-3.text-center
          h3
            | Denise Dekker
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/raymond.jpg', alt='')
        .col-lg-3.col-sm-3.text-center
          h3
            | Raymond Thai
      br
      br
      .row
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/james.jpg', alt='')
        .col-lg-3.col-sm-3.text-center
          h3
            | James Wang
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/glo.jpg', alt='')
        .col-lg-3.col-sm-3.text-center
          h3
            | Gloriane Tran
      br
      hr

