extends layout

block content
    .container-margin
      .row
        .col-lg-12
          h2.page-header3
            | About Us
          p#description
            | CitizensOrg creates an online meeting place where individuals can create actions to facilitate political organization. As a group of concerned citizens, we recognize the need for individuals to have a central place where they can find information that helps them stay informed and politically active.With focus on building a movement to take back Congress from Republicans in 2018, CitizensOrg will maintain pressure on the current administration until it’s time to vote!
      .row
        .col-lg-12
          h2.page-header3 Our Team
          
        .col-lg-12
         br
  
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/denise.jpg', alt='Denise')
          br
          h4
            | Denise Dekker
            
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/raymond.jpg', alt='Raymond')
          br
          h4
            | Raymond Thai
     
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/james.jpg', alt='James')
          br
          h4
            | James Wang
            
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/glo.jpg', alt='Gloriane')
          br
          h4
            | Gloriane Tran
      br
      

