extends layout

block content
    .container-margin
      .row
        .col-lg-12
          h2.page-header3
            | How it Works
          p#description
            | First, create an account to become part of the CitizensOrg community. Then, make posts about events, meetings,  
            | or actions, you'd like to organize. If facilitating isn't your thing, you can find an event to join! 
            | CitizensOrg creates an online meeting place where individuals can create actions to facilitate political organizing. 
            br
            br
            | As a group of concerned citizens, we recognize the need for individuals to have a central place where they can find information 
            | to stay informed and politically active. With focus on building a movement to take back Congress from Republicans in 2018, CitizensOrg 
            | will maintain pressure on the current administration until it’s time to vote!
           
      .row  
        .col-lg-12
          h2.page-header3
            | About Us
          p#description
            | We are Computer Science students at Mills College in Oakland, CA. In the aftermath of the 2016 election, we wanted to
            | create some agency around being politically active in our communities; hence the creation of this website!  
            
      .row
        .col-lg-12
          h2.page-header3 Our Team
          
        .col-lg-12
         br
  
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/denise.jpg', alt='Denise')
          br
          h4
            | Denise Dekker
          h5
            | Front End
            
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/raymond.jpg', alt='Raymond')
          br
          h4
            | Raymond Thai
          h5
            | Half Stack
          
     
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/james.jpg', alt='James')
          br
          h4
            | James Wang
          h5
            | Back End
            
        .col-lg-3.col-sm-3.text-center
          img.img-circle.img-responsive.img-center(src='/images/glo.jpg', alt='Gloriane')
          br
          h4
            | Gloriane Tran
          h5
            | Half Stack  
      br
      .row
        .col-lg-12
      

