extends layout

block content
      br
      form(action='/actionpost', method='post')
        | Name: 
        input(type='text', name='name')
        br
        | Action: 
        input(type='text', name='action')
        br
        | Location: 
        input(type='text', name='location')
        br
        | Text Body: 
        input(type='textarea', name='description')
        br
        | Date:
        input(type='date', name='date')
        br
        input(type='submit', value='Submit')
