extends layout

block content
      br
      form(action='/actionpost', method='post', id='usrform')
        | Name: 
        input(type='text', name='name')
        br
        | Action: 
        input(type='text', name='action')
        br
        | Location: 
        input(type='text', name='location')
        br
        | Text Body: 
        textarea(rows="4", cols="50", form="usrform")
        br
        | Date:
        input(type='date', name='date')
        br
        input(type='submit', value='Submit')
