extends layout

block content
<<<<<<< HEAD
      br
      form(action='/actionpost', method='post', id='usrform')
        | Name: 
        input(type='text', name='name')
        br
        | Action: 
        input(type='text', name='action')
        br
        | Location: 
        input(type='text', name='location')
        br
        | Text Body: 
        textarea(rows="4", cols="50", form="usrform")
        br
        | Date:
        input(type='date', name='date')
        br
        input(type='submit', value='Submit')
=======
    .container
      .row
        .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
          form#action-form(action='/actionpost', method='post')
            .form-group
              label(for='name') Name
              input#name.form-control(type='text', name='name', aria-describedby='nameHelp', placeholder='Enter Name')
              //small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
              label(for='action') Action
              input#action.form-control(type='text', name='action', aria-describedby='actionHelp', placeholder='Enter Action')
            .form-group
              label(for='date') Date
              input#date.form-control(type='date', name='date', aria-describedby='dateHelp', placeholder='Enter Date')
            .form-group
              label(for='location') Location Address
              input#date.form-control(type='text', name='location', aria-describedby='locationHelp', placeholder='Enter Location Address', rows='2')  
            .form-group
              label(for='textArea', rows='4', cols='50', name='description', form='action-form') Additional Information
              textarea#textArea.form-control(rows='5')
           
            button.btn.btn-primary(type='submit', value='submit') Submit
            //input(type='submit', value='Submit') 
            
   
          
          
          
          
          
          
          

>>>>>>> 9a011f3d91d1df4e11d120fa09d5dca63a82d586
