extends layout

block content
    .container
      #calendar.col-sm-12
          .row
            iframe(src='https://calendar.google.com/calendar/embed?src=mills.edu_4bq72al4hsjup00sn9gqjsieic%40group.calendar.google.com&ctz=America/Los_Angeles', style='border: 0', width='500', height='500', frameborder='0', scrolling='no')