extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | CitizensOrg
          small &nbsp;Find Events Near You!
  

  .row
   .col-lg-12
    .col-xs-8.col-sm-8
      .row.list-action
        .col-xs-12.list-action-item
          h4
            a(href='/event') Rockridge Resists
          p.activity Letter Writing
          
        .col-xs-12.list-action-item
          h4
            a(href='/event') Temescal Against Trump
          p.activity Indivisible Training
        .col-xs-12.list-action-item
          h4
            a(href='/location') Oakland Organize
          p.activity Sign Making
    
  
    .col-xs-4.col-sm-4
      .row.addActivity
       .span12
          