extend layout

block content
   .wrapper
      .box
       .row
        // sidebar
        #sidebar.column.col-sm-3.col-xs-12
          ul.nav
            li.active
              a(href='/actionget' ng-show='isLoggedIn' ) Post Action
            li
              a(href='/dayactivity') Today's Actions
          ul#sidebar-footer.nav.hidden-xs
            
        // /sidebar
        // main
        #main.column.col-sm-7.col-xs-12
          .padding
            .full.col-sm-9
              // content
              
              #post.col-sm-12 
                a.page-header.text-muted.divider.col-sm-12(href='/actionget' ng-show="isLoggedIn" ) Post Action
                 i.fa.fa-plus(aria-hidden='true')
              
              #actions.col-sm-12
                .page-header1.text-muted.divider
                  | Action Items
              // /top story
              each item in actionArray
                .row
                  .col-sm-12
                    .pull-right
                      span-date #{item.date}  
                    h4= item.action
                     
                    h4
                      small.text-muted
                        .text-muted= item.name
                    
                    h4
                      a.btn.btn-event(href='/detail/' + item._id) Event Details
                    
                        
                      
                        
            
                    
                .row.divider
                  .col-sm-12
                    hr
               
      
              .col-sm-12
                .page-header1.text-muted.divider
                  | Up Next
              
              .row
                .col-sm-4.text-center
                  h4 Related 1
                  a(href='#')
                    img.img-respsonsive.img-circle(src='//placehold.it/400/f0f0f0')
                .col-sm-4.text-center
                  h4 Related 2
                  a(href='#')
                    img.img-respsonsive.img-circle(src='//placehold.it/400/f0f0f0')
                .col-sm-4.text-center
                  h4 Related 3
                  a(href='#')
                    img.img-respsonsive.img-circle(src='//placehold.it/400/f0f0f0')
              
                  
        //#calendar.column.col-sm-4
          //.row
            //.col-sm-12
              //br
              //iframe(src='https://calendar.google.com/calendar/embed?src=mills.edu_4bq72al4hsjup00sn9gqjsieic%40group.calendar.google.com&ctz=America/Los_Angeles', style='border: 0', width='500', height='500', frameborder='0', scrolling='no')
            // /col-9
          // /padding
        // /main

        