extend layout

block content
 .container-special
   .wrapper(ng-cloak)
      .box
       .row
        // sidebar
        #sidebar.column.col-sm-3.col-md-3.col-xs-12
          ul.nav
            li
              a(href='/actionget' ng-show='isLoggedIn' ) Post Action
            li
              a(href='/dayactivity') Upcoming Actions
          ul#sidebar-footer.nav.hidden-xs
            
        // /sidebar
        // main
        #main.column.col-sm-7.col-md-7.col-xs-12
          .padding
            .full.col-sm-9
              // content
              
              #post.col-sm-12 
                a.page-header.text-muted.divider.col-sm-12(href='/actionget' ng-show="isLoggedIn" ) Post Action
                 i.fa.fa-plus(aria-hidden='true')
              
              #actions.col-sm-12
                .page-header1.text-muted.divider
                  | Action Items
              // /top story
              each item in actionArray
                .row
                  .col-sm-12
                    .pull-right
                      span-date #{item.date}  
                    h4.item-action= item.action
                     
                    h4
                      small.text-muted1
                        .text-muted=  item.name
                    
                    h4
                      a.btn.btn-event(href='/detail/' + item._id) Event Details
                    
                        
  
                .row.divider
                  .col-sm-12
                    hr
       
    
            
              
            
                
    