//h1 find congress person results refer to main.js

// p #{resultspage}

for (var i = 0; i < #{resultspage}.length; i++) 
    p #{resultspage["results"][i]};


// each result in #{resultspage}
//     p result