h1 find congress person page

body
  form(action='/findyourcongressperson' method="post")
    | Enter Zip Code:
    br
    input(type='text', name='zipcode', value='94606')
    br
    br
    input(type='submit')