extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-3 Welcome to CitizensOrg
       .row
        .col-sm-12
          .text-center
            a.button.btn.btn-default(href='/about', type='button')  Find out more
           
        
       

