doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/font-awesome/css/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    
    
  body
   .nav.navbar.navbar-inverse.navbar-fixed-top
      .container-nav
        .navbar-header
        a.navbar-brand(href='/') CitizensOrg
        ul.nav.navbar-nav.pull-right
          li 
            a.i.fa.fa-bars(id="sidenav", aria-hidden='true', onclick='openNav()')
            #mySidenav.sidenav 
              a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
              a(href='/about') About
    
              a(href='/login') Login
              a(href='#logout') Logout
              
            script.
              function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
              }
              function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
              }
        
         
    
    .container
      block content
  
    
      footer
          .row
            .col-xs-12
            
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='javascripts/javascript.js')
