doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/font-awesome/css/font-awesome.min.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='index.html') citizensOrg
        ul.nav.navbar-nav
          li
            a.i.fa.fa-bars(aria-hidden='true')
              
              
              
              
            
        
    block content
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    
    
