extends layout
script(src="/javascripts/angular.min.js")
script(src="/javascripts/loc8r.js")
  
  block content
      .container
        .row
          .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
            .panel.panel-login
              .panel-heading
                .row
                  .col-xs-6
                    a#login-form-link.active(href='#') Login
                  .col-xs-6
                    a#register-form-link(href='#') Sign Up
              
              .panel-body
                .row
                  .col-lg-12
                    h1 Hello {{ currentUser }}
                    
                    form#login-form(ng-submit='onLoginSubmit()' style='display: block;')
                      .form-group
                        input#username.form-control(type='text', name='username', tabindex='1', placeholder='Username', ng-model='credentials.email')
                      .form-group
                        input#password.form-control(type='password', name='password', tabindex='2', placeholder='Password',  ng-model='credentials.password')
                      .form-group.text-center
                        input#remember(type='checkbox', tabindex='3', name='remember')
                        label(for='remember')  Remember Me
                      .form-group
                        .row
                          .col-sm-6.col-sm-offset-3
                            input#login-submit.form-control.btn.btn-login(type='submit', name='login-submit', tabindex='4', value='Log In')
                      .form-group
                        .row
                          .col-lg-12
                            .text-center
                              a.forgot-password(href='http://phpoll.com/recover', tabindex='5') Forgot Password?
                    form#register-form(ng-submit='onRegisterSubmit()' style='display: none;')
                      .form-group
                        input#username.form-control(type='text', name='rusername', tabindex='1', placeholder='Username', value='', ng-model='regcredentials.rname' )
                      .form-group
                        input#email.form-control(type='email', name='remail', tabindex='1', placeholder='Email Address', value='', ng-model='regcredentials.remail')
                      .form-group
                        input#password.form-control(type='password', name='rpassword', tabindex='2', placeholder='Password', ng-model='regcredentials.rpassword')
                      .form-group
                        input#confirm-password.form-control(type='password', name='confirm-password', tabindex='2', placeholder='Confirm Password')
                      .form-group
                        .row
                          .col-sm-6.col-sm-offset-3
                            input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Register Now')
  


        
        
              