script(src="/javascripts/angular.min.js")
script(src="/javascripts/loc8r.js")
html(ng-app='myApp')
  head
    meta(charset='utf-8')
    title Angular binding test
  body(ng-controller='loginCtrl')
    input(ng-model='hi')
    h1 Hello {{ hi }}
  .col-md-6.col-sm-8
    form(ng-submit='onSubmit()')
      .alert.alert-danger(role='alert', ng-show='formError') {{ formError }}
      .form-group
        label(for='email') Email address
        input#email.form-control(type='email', placeholder='Enter email', ng-model='credentials.email')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password', placeholder='Password', ng-model='credentials.password')
      button.btn.btn-default(type='submit') Sign in!


