extend layout

block content
 .container-special
   .wrapper(ng-cloak)
      .box
       .row
        // sidebar
        #sidebar.column.col-sm-4.col-md-4.col-xs-12
          ul.nav
            li
              a(href='/actionget' ng-show='isLoggedIn' ) Post Action
            li
              a(href='/dashboard') View All Actions 
          ul#sidebar-footer.nav.hidden-xs
          
 
        #main.column1.col-sm-8.col-md-8.col-xs-12
          .padding
            .full.col-sm-9
          
              #actions.col-sm-12
                .page-header1.text-muted.divider
                  | Upcoming Actions
              each item in result
                .row
                  .col-sm-12
                    .pull-right
                      span-date #{item.date}  
                    h4 #{item.action}
                 
                    h4
                      small.text-muted
                        .text-muted #{item.name}
                
                    h4
                      a.btn.btn-event(href='/detail/' + item._id) Event Details
                  
                  
                .row.divider
                 .col-sm-12
                   hr
               
                    
