extend layout

block content
    .wrapper
      .box
       .row
            #sidebar.column.col-sm-3.col-xs-12
                  ul.nav
                    li.active
                      a(href='/actionget' ng-show='isLoggedIn' ) Post Action
                    li
                      a(href='/dashboard') See All Actions
                  ul#sidebar-footer.nav.hidden-xs
                    
            #main.column.col-sm-8.col-xs-12
              .padding
                .full.col-sm-9
            
                    
                  #actions.col-sm-12
                    .page-header1.text-muted.divider
                      | Activities in the next 24 Hours
                  each item in result
                    .row
                      .col-sm-10
                        h3= item.action
                          h4
                          span #{item.action}
                          h4
                          span #{item.name}
                          h4
                          a(href='/detail/' + item._id) Read More
                          br
                          span  | Date: #{item.date}
                      
                    
